@import "tailwindcss";
@plugin "daisyui";

/* Custom Color Variables */
:root {
  --color-primary: #ffb300;
  --color-secondary: #01101e;
  --color-accent: #c5a91b;
  --color-base: #f4f1ea;
}

body {
  @apply bg-base-100 text-secondary min-h-screen pt-20 transition-colors duration-300;
}

.main-content {
  padding-top: 1rem;
}

/* Navbar and Footer backgrounds and text */
.navbar-bg,
.footer-bg {
  background-color: var(--color-secondary) !important;
  color: var(--color-base) !important;
}

/* For text in navbar/footer in light mode */
.navbar-txt,
.footer-txt {
  color: var(--color-base) !important;
}

/* For text in main content in light mode */
.main-content-txt {
  color: var(--color-secondary) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #18181b;
    --color-secondary: #f4f1ea;
  }
  body {
    @apply bg-base-100 text-secondary min-h-screen pt-20 transition-colors duration-300;
  }
  .navbar-bg,
  .footer-bg {
    background-color: var(--color-secondary) !important;
    color: var(--color-base) !important;
  }
  .navbar-txt,
  .footer-txt {
    color: var(--color-base) !important;
  }
  .main-content-txt {
    color: var(--color-secondary) !important;
  }
}
